body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 728px;
    height: 90px;
    background-color: #0073ec;
    overflow: hidden;
}

/* set positions */
 #background, #text1, #logobox, #logo, #guide, #text2, #text3, #popup, #cta, #nyse, #vhs1, #vhs2, #vhs3  {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#background {
	width: 728px;
	height: 90px;
	background-color: #7602d9;
}
#vhs1 {
	width: 728px;
	height: 90px;
	background-image: url("../images/static1.png");
	z-index: 4;
}
#vhs2 {
	width: 728px;
	height: 90px;
	background-image: url("../images/static2.png");
}
#vhs3 {
	width: 728px;
	height: 90px;
	background-image: url("../images/static2.png");
	transform: rotateX(180deg), rotateY(180deg);
}

#text1, #text3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #ffffff;
	font-size: 18pt;
	z-index: 5;
	}
	
#text1 { left: 10px; top: 7px; line-height: 36px; }
#text2 { top: 50px; left: 12px; }
#text3 { left: 21px; top: 31px; line-height: 36px; }


#clicked, #clickedactive { top:149px; left:90px; }


#cta { top: 50px; left: 13px; }

#nyse { top: 23px; left: 496px;}

#logobox {
	width:172px;
	height:90px;
	background-color: #003059;
	left:555px;
	padding-top: 34px;
	z-index: 5;
}

.center { display: block; margin-left: auto; margin-right: auto; }


#guide { z-index: 6; visibility: visible; opacity: 0; }
#replay { z-index: 5001; top: 579px; left: 280px; }



