body { margin: 0px; padding: 0px; }
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(0, 0, 0) 0px solid;
    width: 160px;
    height: 600px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000000; 
    overflow: visible;
}
#banner {
    position: absolute;
    display: block;
    width: 160px;
    height: 600px;
    background-color: #000000;
    overflow: hidden;
}
/* set positions */
#bg, #fg, #blueshape, #greenshape, #bigblue, #cta, #name, #logo, #text1, #text1a, #text1b, #text1c, #text1d, #text1e, #text2, #text2a, #text2b, #text2c, #breanna, #guide, #bottomlight, #topdark, #bluebg, #bluefg {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 10;
	visibility: hidden;
}

#text1, #text2 { z-index: 15;}

#text1a { clip: rect(0, 160px, 114px, 0) }
#text1b { clip: rect(115px 160px 138px 0) }
#text1c { clip: rect(139px 160px 164px 0) }
#text1d { clip: rect(165px 160px 189px 0) }
#text1e { clip: rect(190px 160px 600px 0) }

#text2a { clip: rect(0, 250px, 105px, 0) }
#text2b { clip: rect(106px, 250px, 130px, 0) }
#text2c { clip: rect(131px, 250px, 600px, 0) }

#cta { z-index: 20 }

#bottomlight {z-index: 9}

#bg { left: -125px; top: -95px; opacity: .8; z-index: 8 }

#fg { z-index: 20; top: 40px; left: -120px; transform: scale(.4) rotate(10deg); opacity: .15; z-index: 11; }

#logo { z-index: 12;}

#blueshape, #greenshape { transform: scale(.4); z-index: 11; }

#greenshape { top: -106px; left: -220px}
#blueshape { top: 473px; left: -111px; }

#bluebg, #bluefg {
	width: 300px;
	height: 222px;
}

#bluefg { opacity: .6; background-color: #7ea7ac; }
#bluebg { z-index: 9; 	background-color: #000;
 opacity: .1}

#guide { z-index: 11; opacity: .5; visibility: hidden; }

#cta { z-index: 20; transform-origin: 77px 180px }


#breanna {  z-index: 8; left: -35px; top: 249px; transform: scale(1); }