body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 298px;
    height: 48px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #faf4e1; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 298px;
    height: 48px;
    background-color: #faf4e1;
    
    overflow: hidden;
}
/* set positions */
#guide, #logo, #left-bracket, #right-bracket, #bottom-line, #left-line, #top-line, #right-line, #line1, #line2, #glass1, #glass2, #button, #background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
}

#guide { z-index: 1; visibility: visible; }


#logo { top:5px; left: 202px;   }
#button { top:30px; left: 202px;  }
#background { z-index: 3; }
#left-bracket, #right-bracket {  }

#left-line { visibility: visible; position: fixed; clip:rect(0px, 7px, 21px, 0px);  }

#top-line { visibility: visible; position: fixed; clip:rect(0px, 195px, 7px, 0px);  }

#right-line { visibility: visible; position: fixed; clip:rect(0px, 195px, 21px, 191px);  }

#bottom-line { visibility: visible; position: fixed; clip:rect(42px, 169px, 50px, 29px);  }


#line1 { top:8px; left: 20px; }
#line2 { top:16px; left: 17px;  }

#glass1 { top: 6px; left: 149px; visibility: hidden; }
#glass2 { top: 6px; left: 166px; visibility: hidden; }