body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f5f1; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    overflow: hidden;
}

/* set positions */
#bg, #cta, #logo, 
#copy1, 
	#copy1a, #copy1b, #copy1c, /* #copy1d ,*/
#copy2, 
	#copy2a, #copy2b, #copy2c/*, #copy2d */
 {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 2;
	visibility: hidden;
}

#copy1a { clip: rect(0px 728px 33px 0px)}
#copy1b { clip: rect(34px 728px 60px 0px)}
#copy1c { clip: rect(61px 728px 88px 0px)}


#copy2a { clip: rect(0px 728px 34px 0px)}
#copy2b { clip: rect(35px 728px 65px 0px)}
#copy2c { clip: rect(61px 728px 82px 0px)}


#cta {transform-origin: 294px 40px}