body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f5f1; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    overflow: hidden;
}

/* set positions */
#text1, #text2, #text3, #text4, #photo, #cta, #logo1, #logo2 {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#photo { z-index: 1;}
#logo1 {z-index: 3;}
#logo2 { transform-origin: 650px 23px; }


#cta { transform-origin: 500px 50px; }