body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f5f1; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    overflow: hidden;
}

/* set positions */
#bg, #copy, #copy1, #copy2, #copy3, #cta, #doc1, #doc2, #gradientFG, #logo  {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 2;
	visibility: hidden;
}

#copy1 { clip: rect(0px 728px 36px 0px)}
#copy2 { clip: rect(37px 728px 64px 0px)}
#copy3 { clip: rect(65px 728px 94px 0px)}


#cta {transform-origin: 474px 53px}