body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f5f1; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 300px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
}

/* set positions */
#bg, #copy1, #copy1a, #copy1b, #copy2, #copy2a, #copy2b, #cta, #logo  {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 2;
	visibility: hidden;
}


#copy1a { clip: rect(0px 300px 49px 0px)}
#copy1b { clip: rect(50px 300px 75px 0px)}

#copy2a { clip: rect(76px 300px 120px 0px)}



#cta {transform-origin: 90px 150px}