body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 158px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 160px;
    height: 600px;
    background-color: #0073ec;
    overflow: hidden;
}

/* set positions */
 #background, #text1, #logobox, #logo, #guide, #text2, #text3, #popup, #cta, #nyse, #vhs1, #vhs2, #vhs3, #product {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#background {
	width: 160px;
	height: 600px;
	background-color: #7602d9;
}
#vhs1 {
	width: 160px;
	height: 600px;
	background-image: url("../images/static1.png");
	z-index: 4;
}
#vhs2 {
	width: 160px;
	height: 600px;
	background-image: url("../images/static2.png");
}
#vhs3 {
	width: 160px;
	height: 600px;
	background-image: url("../images/static2.png");
	transform: rotateX(180deg), rotateY(180deg);
}

#text1, #text3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #ffffff;
	font-size: 17pt;
	z-index: 5;
	}
	
	
#text1 { left: 5px; top: 36px; line-height: 27px; }
#text2 { left: 9px; top: 235px;  }
#text3 { left: 8px; top: 99px; font-size: 21pt; line-height: 41px; }


#clicked, #clickedactive { top:149px; left:90px; }


#cta { top: 178px; left: 7px; }

#nyse { top: 385px; width: 160px; }

#logobox {
	width:160px;
	height:64px;
	background-color: #003059;
	top: 503px;
	z-index: 5;
	padding-top: 35px;
}

.center { display: block; margin-left: auto; margin-right: auto; }
#product { top: 240px; left: -130px; }

#guide { z-index: 6; visibility: visible; opacity: 0; }
#replay { z-index: 5001; top: 579px; left: 280px; }



