body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 300px;
    height: 250px;
    background-color: #0073ec;
    overflow: hidden;
}

/* set positions */
 #background, #text1, #logobox, #logo, #guide, #text2, #text3, #popup, #cta, #nyse, #phone, #battery, #bar, #phonewrapper, #product {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#background {
	width: 300px;
	height: 250px;
	background-color: #b2d6ff;
}

#text1, #text3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #003059;
	font-size: 24pt;
	z-index: 5
	}
	
#text1 { left: 20px; top: 17px; line-height: 34px; }
#text2 { top: 153px; left: 42px; }
#text3 { left: 8px; top: 99px; font-size: 21pt; line-height: 41px; }

#popup {
	width: 126px;
	height: 184px;
	background-color: #FFFFFF;
	top: 257px;
	left: 17px;
}

#phone { top: 178px; }
#battery {top: 135px; left:281px; clip: rect(0px,12px,96px,0px); }
#bar {top: 118px; left:11px; clip: rect(37px,14px,80px,0px); }

#cta { top: 147px; left: 21px; }
#nyse { top: 141px; left: 223px;}
#product { top: 240px; left: -130px; }

#logobox {
	width: 300px;
	height: 34px;
	background-color: #003059;
	top: 210px;
	z-index: 5;
	padding-top: 6px;
}

.center { display: block; margin-left: auto; margin-right: auto; }


#guide { z-index: 6; visibility: visible; opacity: 0; }
#replay { z-index: 5001; top: 579px; left: 280px; }



