body { margin: 0px; padding: 0px; }
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(0, 0, 0) 1px solid;
    width: 298px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    background-color: #ffffff;
    overflow: hidden;
}
/* set positions */
#background, #mapbg, #topGreenDiv, 
#logo_FM, #logo_parks, .bar, 
#pin1, #pin2, #pin3, #pin4, #pin5, #pin6, #pin7, #pin8,
#pin0A, #pin1A, #pin2A, #pin3A, #pin4A, #pin5A, #pin6A, #pin7A,
#pinRes1, #pinRes2, #pinRes3, #pinRes4, #pinRes5, #pinRes6, #pinRes7, #pinRes8, #pinRes9,
#tagline, #amicalogo, #cta, #replay, #guide, #sponsored,
#logo_schools, #logo_restaurants, #logo_S {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	visibility: hidden;
}

#pin1 {
	top: 343px;
	left: 39px;
	z-index: 4;
}

#pin2 {
	top: 187px;
	left: 112px;
	z-index: 4;
}

#pin3 {
	top: 352px;
	left: 149px;
	z-index: 4;
}

#pin4 {
	top: 256px;
	left: 164px;
	z-index: 4;
}

#pin5 {
	top: 168px;
	left: 180px;
	z-index: 4;
}

#pin6 {
	top: 318px;
	left: 231px;
	z-index: 4;
}

#pin7 {
	top: 407px;
	left: 196px;
	z-index: 4;
}

#pin8 {
	top: 426px;
	left: 231px;
	z-index: 4;
}

#pin0A {
	top: 175px;
	left: 27px;
	z-index: 4;
}

#pin1A {
	top: 278px;
	left: 37px;
	z-index: 4;
}

#pin2A {
	top: 370px;
	left: 87px;
	z-index: 4;
}

#pin3A {
	top: 234px;
	left: 97px;
	z-index: 4;
}

#pin4A {
	top: 434px;
	left: 146px;
	z-index: 4;
}

#pin5A {
	top: 157px;
	left: 159px;
	z-index: 4;
}

#pin6A {
	top: 320px;
	left: 197px;
	z-index: 4;
}

#pin7A {
	top: 207px;
	left: 228px;
	z-index: 4;
}

#pinRes1 {
	top: 274px;
	left: 26px;
	z-index: 4;
}

#pinRes2 {
	top: 188px;
	left: 42px;
	z-index: 4;
}

#pinRes3 {
	top: 172px;
	left: 138px;
	z-index: 4;
}

#pinRes4 {
	top: 375px;
	left: 110px;
	z-index: 4;
}

#pinRes5 {
	top: 449px;
	left: 150px;
	z-index: 4;
}

#pinRes6 {
	top: 275px;
	left: 161px;
	z-index: 4;
}

#pinRes7 {
	top: 210px;
	left: 230px;
	z-index: 4;
}

#pinRes8 {
	top: 319px;
	left: 211px;
	z-index: 4;
}

#pinRes9 {
	top: 415px;
	left: 244px;
	z-index: 4;
}

#guide { z-index: 10; }

#background {
	top: 0;
	left: 0; 
	z-index: 4; 
}

#mapbg {
	top: 0;
	left: 0;
	z-index: 3;
	height: 200px;
}

#topGreenDiv {
	position: absolute;
	background-image: url("../images/mapbg_green.jpg");
	z-index: 4;
	width: 300px;
	height: 600px;
	clip:rect(0px, 300px, 125px, 0px);
}

#bottomGreenDiv {
	position: absolute;
	background-image: url("../images/mapbg_green.jpg");
	z-index: 4;
	width: 300px;
	height: 600px;
	clip:rect(526px, 300px, 600px, 0px);
}

#logo_FM {
	top: 3px;
	left: 11px;
	z-index: 5;
}

#logo_parks {
	left: 75px;
	top: 73px;
	z-index: 5;
}

#logo_schools {
	left: 38px;
	top: 73px;
	z-index: 5;
}

#logo_restaurants {
	left: 16px;
	top: 75px;
	z-index: 5;
}

#logo_S {
	left: 17px;
	top: 116px;
	z-index: 5;
}

#tagline { 
	top: 247px; 
	left: 28px;
	z-index: 5;
}

#sponsored { 
	top: 511px; 
	left: 123px;
	z-index: 5;
}

#amicalogo { 
	top: 538px; 
	left: 10px;
	z-index: 5; 
	transform: scale(.75)
}

#cta {
	top: 519px;
	left: 86px;
	z-index: 5; 
	transform: scale(.6);
}

#guide { visibility: visible; opacity: .5;  }

#replay { z-index: 5001; top: 225px; left: 275px; }