body { margin: 0px; padding: 0px; }
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(0, 0, 0) 1px solid;
    width: 318px;
    height: 48px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 318px;
    height: 48px;
    background-color: #fff;
    overflow: hidden;
}
/* set positions */
.set {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 10;
	visibility: hidden;
}


#bigO { z-index: 14; top: -2px; left: 210px; transform: rotate(90deg)}

#cta { transform-origin: 230px 220px;}

#bg { z-index: 8; }
#cta, #logo, #bottombar { z-index: 15; }

#guide {opacity: .5; z-index: 100; visibility: hidden}