body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0%;
	left: 0%;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 726px;
    height: 88px;
    background-color: #f5eccc;
    overflow: hidden;
}
/* set positions */
#guide, #bg, #text1, #text2, #bottle, #legal, #border, #logo, #cta {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#bg { left:-1px; top:-50px; }
#border { z-index: 10; top: -1px; left: -1px; }

#cta { left: 527px; top: 22px; }

#text1 { left:38px; top:7px; clip: rect(0px,253px,34px,0px); }
#text2 { left:44px; top:47px; clip: rect(0px,164px,34px,0px); }

#bottle { left: 360px; top:-140px; z-index: 11; transform: scale(.8) rotate(-90deg)}
#tagline { left: 131px; top:-1px; }
#legal { left: 500px; top:70px; }

#logo { left: 568px;  }


#guide { z-index: 3; visibility: visible; opacity: 0; }

#replay { z-index: 5001; top: 3px; left: 761px; }