body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 158px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 158px;
    height: 598px;
    background-color: #ffffff;
    
    overflow: hidden;
}
/* set positions */
#guide, #logo, #arrow, #left-bracket, #right-bracket, #bottom-line, #left-line, #top-line, #right-line, #shield, #line1, #line2, #bottle, #glass1, #glass2, #button, #pic, #bottomBar {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
}

#guide { z-index: 1; visibility: visible; }

#bottomBar { visibility: visible; background-color: #fed16d; width: 160px; height: 114px; top:486px; z-index: 4; }
#logo { top:499px; left: 1px; }
#button { top:556px; left: 6px; }

#left-line { visibility: visible; position: fixed; clip:rect(0px, 11px, 443px, 0px);  }

#top-line { visibility: visible; position: fixed; clip:rect(0px, 156px, 10px, 0px);  }

#right-line { visibility: visible; position: fixed; clip:rect(0px, 160px, 443px, 150px);  }

#bottom-line { visibility: visible; position: fixed; clip:rect(475px, 116px, 485px, 45px); }

#shield { top:24px; }
#line1 { top:56px; left: 3px;  }
#line2 { top:103px; left: 11px;  }

#bottle { top: 392px; left: 67px; }
#glass1 { top: 436px; left: 51px; }
#glass2 { top: 437px; left: 90px; }

#pic { z-index: 3; left: -81px; top:-135px; }
