body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 298px;
    height: 248px;
    background-color: #ffffff; 
    overflow: hidden;
}
/* set positions */
#guide, #logo, #left-bracket, #right-bracket, 
#bottom-line, #left-line, #top-line, #right-line, 
/* #shield,  */
#line1, #bottle, #ribbonTopF, #ribbonTopB, #ribbonMid,
#ribbonBottomB, #ribbonBottomF,
/* #line2, #glass1, #glass2,  */
#button, #pic, #bottomBar {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
}

/* #guide { z-index: 1; visibility: visible; } */

#bottomBar { 
    visibility: visible; 
    background-color: #456130; 
    width: 300px; 
    height: 60px; 
    top:190px; 
    z-index: 6; 
}

#logo { 
    top: 202px; 
    left: 22px;
    z-index: 7;  
}

#button { 
    top: 206px; 
    left: 156px;
    z-index: 7;
}

#left-line { visibility: visible; position: fixed; clip:rect(0px, 11px, 188px, 0px);  }

#top-line { visibility: visible; position: fixed; clip:rect(0px, 300px, 10px, 0px);  }

#right-line { visibility: visible; position: fixed; clip:rect(0px, 300px, 188px, 290px);  }

#bottom-line { visibility: visible; position: fixed; clip:rect(180px, 294px, 190px, 5px);  }

/* #shield { top:18px; left: 57px;  } */
#line1 { 
    top: 20px; 
    left: 18px; 
}
/* #line2 { top:89px; left: 104px; } */

#bottle { 
    left: 39px;  
}

#ribbonTopF {
    /* visibility: visible; */
    top: 74px;
    left: 7px;
    z-index: 8;
    clip: rect(0px, 83px, 48px, 0px);
}

#ribbonTopB {
    top: 68px;
    left: 8px;
    z-index: 4;
    clip:rect(0px, 125px, 58px, 0px);
}

#ribbonMid {
    top: 80px;
    left: 19px;
    clip: rect(0px, 115px, 72px, 0px);
}

#ribbonBottomB {
    top: 98px;
    left: 15px;
    z-index: 4;
    clip: rect(0px, 130px, 130px, 0px);
}

#ribbonBottomF {
    top: 98px;
    left: 104px;
    clip:rect(0px, 41px, 44px, 0px);
}
/* #glass1 { top: 140px; left: 224px; }
#glass2 { top: 140px; left: 263px; } */

#pic { 
    z-index: 3; 
    left: -90px; 
    top:-52px; 
    transform-origin: 270px 120px;
    transform: scale(1)
}


