body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 158px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 158px;
    height: 598px;
    background-color: #ffffff;
    
    overflow: hidden;
}
/* set positions */
#guide, #logo, #arrow, #left-bracket, 
#right-bracket, #bottom-line, #left-line, 
#top-line, #right-line, #shield, #line1, 
#line2, #bottle, #button, #pic, #bottomBar, 
#ribbonTopF, #ribbonTopB, #ribbonMid, #ribbonBottomB, 
#ribbonBottomF {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
}

#guide { z-index: 1; visibility: visible; }

#bottomBar { visibility: visible; background-color: #6e263c; width: 160px; height: 114px; top:486px; z-index: 4; }
#logo { top:499px; left: 1px; }
#button { top:556px; left: 6px; }

#left-line { visibility: visible; position: fixed; clip:rect(0px, 11px, 478px, 0px);  }

#top-line { visibility: visible; position: fixed; clip:rect(0px, 156px, 10px, 0px);  }

#right-line { visibility: visible; position: fixed; clip:rect(0px, 160px, 478px, 150px);  }

#bottom-line { visibility: visible; position: fixed; clip:rect(475px, 152px, 515px, 8px); }


#line1 { 
    top: 50px; 
    left: 12px;  
}
#line2 { top:103px; left: 27px;  }

#bottle { 
    top: 76px; 
    left: 32px; 
    z-index: 7;
}

#ribbonTopF {
    top: 168px;
    z-index: 8;
    clip: rect(0px, 104px, 65px, 0px);
}

#ribbonTopB {
    top: 160px;
    z-index: 6;
    clip:rect(0px, 160px, 77px, 0px);
}

#ribbonMid {
    top: 170px;
    left: 8px;
    z-index: 8;
    clip: rect(0px, 154px, 96px, 0px);
}

#ribbonBottomB {
    top: 194px;
    left: 3px;
    z-index: 6;
    clip: rect(0px, 160px, 69px, 0px);
}

#ribbonBottomF {
    top: 196px;
    left: 116px;
    z-index: 8;
    clip: rect(0px, 42px, 60px, 0px);
}



#pic { z-index: 3; left:-60px;  }
