#ad {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: rgb(0, 0, 0) 1px solid;
  width: 298px;
  height: 248px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;

  overflow: hidden;
}
#banner {
  position: absolute;
  display: block;
  width: 298px;
  height: 248px;
  background-color: #fff;
  overflow: hidden;
}
.set {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: 10;
  visibility: visible;
}

#speaker-wrapper {
  width: 300px;
  height: 250px;
  transform-origin: top left;
  top: 5px;
}

#bg {
  z-index: 5;
  opacity: 0.8;
}

#bass {
  z-index: 11;
}

#body-back,
#body-full {
  clip: rect(0, 300px, 250px, 0);
}

#body-full {
  z-index: 15;
}

#speaker-4,
#speaker-3 {
  z-index: 12;
}

#top {
  top: 0px;
  z-index: 18;
}
#lid {
  top: 0px;
  z-index: 19;
}

#light-wrapper,
#dark-light {
  z-index: 17;
}

#light {
  z-index: 25;
}

#copy1a {
  clip: rect(0 300px 53px 0);
}
#copy1b {
  clip: rect(53px 300px 250px 0);
}
#copy2a {
  clip: rect(0 300px 53px 0);
}
#copy2b {
  clip: rect(53px 300px 250px 0);
}

#slash {
  clip: rect(0 300px 250px 0);
}

#low-price {
  transform-origin: 40px 220px;
}

#cta {
  transform-origin: 250px 208px;
}
