body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 158px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #003e63; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 158px;
    height: 598px;
    background-color: #fff;
    overflow: hidden;
}

/* set positions */
#bg, #copy1, #copy1a, #copy1b, #copy1c, #copy1d, #copy1e, #copy1f, #copy1g, #copy1h, #cta, #logo  {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 2;
	visibility: hidden;
}

#copy1a { clip: rect(0px 160px 75px 0px)}
#copy1b { clip: rect(76px 160px 106px 0px)}
#copy1c { clip: rect(107px 160px 138px 0px)}
#copy1d { clip: rect(139px 160px 165px 0px)}
#copy1e { clip: rect(166px 160px 205px 0px)}
#copy1f { clip: rect(206px 160px 236px 0px)}
#copy1g { clip: rect(237px 160px 265px 0px)}
#copy1h { clip: rect(266px 160px 300px 0px)}


#cta {transform-origin: 81px 363px}