body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    overflow: hidden;
}

/* set positions */
#bg, #legal-click, #legal-overlay, #container, #animate, #close {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
}

#guide { z-index: 1; visibility: visible; }
#replay { z-index: 5001; top: 579px; left: 280px; }

#container, #animate, #legal-click { z-index: 5005; }

#bg {
	top: -1px;
	left: -1px;
}


a {
	color: white;
	font-weight: bold;
}

#legal-click {
	cursor: pointer;
	width: 30px;
	height: 15px;
	top: 233px; 
	left: 264px;
}

#container {
	width: 300px;
	height:75px;
	top: 250px;
	background-color: rgba(0, 0, 0, 0.7);
}

#animate {
	padding: 0 10px 10px 10px;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: white;
	top: 13px;
	position: relative;
	}

#close {
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	left: 282px;
	top: 5px; 
	width: 15px;
	height: 15px;
	z-index: 5010;
	cursor: pointer;
}

