#ad {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: rgb(50, 50, 50) 1px solid;
  width: 298px;
  height: 598px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  overflow: hidden;
}

#banner {
  position: absolute;
  display: block;
  width: 298px;
  height: 598px;
  background-color: #fff;
  overflow: hidden;
}
.set {
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  z-index: 10;
  visibility: hidden;
}
.visible {
  visibility: visible;
}
