body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 726px;
    height: 88px;
    background-color: #ffffff;
    
    overflow: hidden;
}
/* set positions */
#guide, #logo, #bg1, #bg2, #line1, #line2, #line3, #food {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 5;
	visibility: hidden;
}

#guide { z-index: 1; visibility: visible; }

#line1 { top: 2px; left: 154px;  }
#line2 { top:31px; left:20px; }
#line3 { top:30px; left: 468px; }

#food { top:-6px; left: 292px; }
#logo { z-index: 4; left:-10px; }

#bg1 { z-index: 2; }
#bg2 { z-index: 3; }