body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0%;
	left: 0%;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e8ccf0; 
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 726px;
    height: 88px;
    background-color: #e8ccf0;
    overflow: hidden;
}
/* set positions */
#guide, #barL, #barR, #text1, #text2, #text3, #text4, #text5, #bottle {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
}

#bg { left:-1px; top:-50px; }

#text1, #text2, #text3, #text4, #text5 { left:34px; top:16px; z-index: 3; }

#bottle { z-index: 5; left: 172px; top: -6px }

#barR {left: 566px; z-index: 10; }