body {
    margin: 0px;
    padding: 0px;   
}
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(102, 102, 102) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f5f1; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 728px;
    height: 90px;
    background-color: #ffffff;
    overflow: hidden;
}

/* set positions */
#bg-light, #bg-dark, #copy1, #copy2,  #copy3, #cta, #logo, #bench, #clam  {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 2;
	visibility: hidden;
}

#bg-dark { z-index: 3; left: -470px; }
#logo, #clam, #cta, #copy3 { z-index: 5; left:-2px }




#cta {transform-origin: 645px 50px}