body { margin: 0px; padding: 0px; }
#ad {
	position: absolute;
	top: 0;
	left: 0;
    display: block;
    border: rgb(0, 0, 0) 1px solid;
    width: 726px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff; 
  
    overflow: hidden;
}
#banner {
    position: absolute;
    display: block;
    width: 726px;
    height: 88px;
    background-color: #fff;
    overflow: hidden;
}
/* set positions */
.set {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	z-index: 10;
	visibility: hidden;
}

#bottombar { 
	background-color: #3573b9;
	width: 300px;
	height: 100px;
	top: 192px;
}

#overlay {
	background-color: #3573b9;
	width: 550px;
	height: 90px;
	opacity: .55;
	z-index: 9;
}

#copywrapper {
	visibility: visible;
	transform: scale(.3);
	top: 5px;
	left: 170px;	
	transform-origin: center center;
}

#copy2 { 
	left: 23px; 
	top:8px;
	transform: scale(1.04);
}

#bigO { top: 0px; left: 430px; transform: rotate(90deg)}

#cta { transform-origin: 230px 220px;}

#bg { z-index: 8; }
#cta, #logo, #bottombar { z-index: 15; }

#guide {opacity: .5; z-index: 100; visibility: hidden}